dotenv
gradio
openai
pillow
diffusers
torchvision
torch
accelerate
pydantic
transformers
requests
yfinance
langchain
langchain-community 
pymupdf 
langchain-chroma
langchain-huggingface
sentence-transformers